/*input {
    border: none;
    width: 10.5ch;
    background: 
      repeating-linear-gradient(90deg, 
          dimgrey 0, 
          dimgrey 1ch, 
          transparent 0, 
          transparent 1.5ch) 
        0 100%/100% 2px no-repeat;
    color: dimgrey;
    font: 5ch consolas, monospace;
    letter-spacing: .5ch;
  }
  input:focus {
    outline: none;
    color: dodgerblue;
  }
*/
  #pinInput .form-group {
    min-width: 300px;
    width: 50%;
    margin: 8em auto;
    display: flex;
    border: 1px solid rgba(96,100,104,0.3);
  }
  
  #pinInput .letter {
    height: 43px;
    border-radius: 0;
    border: none;
    text-align: center;
    max-width: calc((100% / 10) - 1px);
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: calc(100% / 10);
    outline-style: none;
    padding: 5px 0;
    font-size: 18px;
    font-weight: bold;
  }
  
  #pinInput .letter + .letter {
    border-left: 1px solid rgba(96,100,104,0.3);
  }
  
  @media (max-width: 480px) {
    #pinInput .letter {
        font-size: 16px;
        padding: 2px 0;
        height: 38px;
    }
  }